.typography--variant-h1 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.typography--variant-h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.typography--variant-h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.typography--variant-h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.typography--variant-h5 {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.typography--variant-h6 {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.typography--variant-subheading1 {
    font-size: 10px;
    font-weight: 500;
    margin: 0;
}

.typography--variant-subheading2 {
    font-size: 8px;
    font-weight: 500;
    margin: 0;
    line-height: 25px;
}

.typography--variant-body1 {
    font-size: 10px;
    margin: 0;
}

.typography--variant-body1 {
    font-size: 8px;
    margin: 0;
}

@media (min-width: 1440px) {
    .typography--variant-body2 {
        line-height: 30px;
    }
}

.typography--fontWeight-300 {
    font-weight: 300;
}

.typography--fontWeight-600 {
    font-weight: 600;
}

.typography--fontWeight-800 {
    font-weight: 800;
}

@media (min-width: 1440px) {
    .typography--variant-h4 {
        font-size: 18px;
    }
}